<header>
    <ng-template #loggedOut>
        <h3 
            [ngStyle]="{'color': '#900C3F'}">
            <img src="../../../favicon.ico" alt="">
            Hi Guest!
        </h3>
        <app-button 
            color="green" 
            text="Login"
            (btnClick)="auth.loginWithRedirect()">
        </app-button>
    </ng-template>
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <h3 
            [ngStyle]="{'color': '#900C3F'}">
            <img style="width: 40px; height: 40px; border-radius: 40px; font-size: 8px;" src="{{ user.picture }}" alt="{{ user.name }}">
            Hi {{ user.name }}!
        </h3>
        <app-button 
            color="#900C3F" 
            text="Logout"
            (btnClick)="auth.logout({ returnTo: document.location.origin })">
        </app-button>
    </ng-container>
</header>