<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="TaskName">Task Name</label>
      <input
        type="text"
        class="form-control-input"
        name="TaskName"
        [(ngModel)]="taskName"
        id="TaskName"
        placeholder="Add Task Name"
      />
    </div>
    <div class="form-control">
      <label for="TaskDateTime">Task Date & Time</label>
      <app-datetime 
        class="form-control-date"
        (onSelectDateTime)="onSelected($event)">
      </app-datetime>
    </div>
    <div class="form-control form-control-check">
      <label for="Remind">Set Reminder</label>
      <input
        type="checkbox"
        name="Remind"
        [(ngModel)]="reminder"
        id="Remind"
      />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
  </form>

